body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: darkgrey;

}

a {
  color: #00B7FF;
}

.product-heading {
  font-size: 30px;
}

.product-count {
  color: greenyellow;
  font-family: "monaco";
  font-size: 20px;
}

.top {
  text-align: center;
  font-family: "Brush Script MT";
  font-size: 50px;
  color: darkgrey;
}

.count {
  text-align: center;
  font-family: "monaco";
  font-size: 100px;
  color: greenyellow;
}

.bottom {
  text-align: center;
  font-family: "Helvetica";
  font-size: 30px;
  color: darkgrey;
  padding-bottom: 70px;
}

.footer {
  position: fixed;
  bottom: 0;
}